body {
	margin:0;
}

.title {
	color:black;
	font-size: 40px;
	font-family: 'Comic Neue', cursive;
	font-style: bold;
	text-align: right;
	margin-top: 18px; 
	margin-bottom: 5px;
}

.subtitle {
	font-color:black;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	text-align: right;
	margin-top: 5px;
}

.right-nav {
	margin-right: 3%;
	width: 75%;
	display: flex;
	flex-direction: column;
}

.left-nav {
	width: 14%;
	height: 100%;
	margin-left: 1%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	font-color:gray;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100vw;
	height: 100vh;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 20%;
/*	box-shadow:5px 5px 5px #e8e8e8;*/
	margin-bottom: 5px;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: space-between;
	width: 100%;
	height: 90%;
	padding-bottom: 1px;
}

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 3%;
	margin-top: -10px;
}


#left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 22%;
}



.middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 99%;
	width: 55%;
	justify-content: center;
}


#right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 22%;
}